@langs: js, ts, html, md, vue, css, sass, scss, less, stylus, go, java, c, bash, yaml;

.genLang(@langs, @index: 1) when (@index <= length(@langs)) {
  @lang: extract(@langs, @index);
  @className: ~'div[class~="language-@{lang}"]';

  @{className}::before {
    content: ~'"@{lang}"';
  }

  .genLang(@langs, @index + 1);
}

.markdown {
  code {
    margin: 0 1px;
    background: #f2f4f5;
    padding: .2em .4em;
    border-radius: 3px;
    font-size: .9em;
    border: 1px solid #eee;
  }

  pre,
  pre[class*="language-"] {
    padding: 12px 20px;
    margin: 16px 0;
    background: transparent;
    overflow: auto;

    code {
      display: block;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border-radius: 0;
      border: 0;
      font-size: 13px;
      line-height: 2;
    }
  }

  div[class*="language-"] {
    position: relative;
    background-color: #f2f4f5;
    border-radius: 2px;

    &::before {
      position: absolute;
      z-index: 3;
      top: .6em;
      right: 1em;
      font-size: .75rem;
      color: #bfbfbf;
      text-transform: uppercase;
    }

    pre {
      position: relative;
      z-index: 1;
    }
  }

  .genLang(@langs);
}
