.markdown {
  font-size: 14px;
  color: #314659;
  line-height: 2;

  .header-anchor {
    opacity: 0;
    transition: opacity .2s ease;
  }

  h1 {
    font-size: 30px;
    font-weight: 500;
    color: #0d1a26;
    line-height: 38px;
    margin-top: 8px;
    margin-bottom: 20px;
  }

  h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: #0d1a26;
    margin: 1.6em 0 .6em;
    clear: both;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h1, h2, h3, h4, h5, h6 {
    &:hover .header-anchor {
      opacity: 1;
    }
  }

  p,
  pre {
    margin: 1em 0;
  }

  blockquote {
    font-size: 90%;
    color: #697b8c;
    border-left: 4px solid #ebedf0;
    padding-left: .8em;
    margin: 1em 0;

    p {
      margin: 0;
    }
  }

  ol > li > p,
  ul > li > p {
    margin: .2em 0;
  }

  ul > li {
    list-style-type: circle;
    margin-left: 20px;
    padding-left: 4px;
  }

  /*
   * table
   */
  > table {
    font-family: Consolas, Menlo, Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: none;
    width: 100%;
    margin: 2em 0;

    th,
    td {
      border-width: 1px 0;
      border-style: solid;
      border-color: #e8e8e8;
      padding: 14px 16px;
      text-align: left;
    }

    th {
      white-space: nowrap;
      color: #5c6b77;
      font-weight: 500;
      background: rgba(0, 0, 0, .02);
      border-width: 0 0 2px;
    }

    td:first-child {
      width: 20%;
      font-weight: 500;
      color: #003a8c;
    }

    td:nth-child(3) {
      width: 22%;
      font-size: 12px;
      color: #c41d7f;
      word-break: break-all;
    }

    td:last-child {
      width: 13%;
      font-size: 12px;
    }
  }

  .badge {
    display: inline !important;
    font-size: 12px !important;
    font-weight: 400 !important;
    padding: 1px 10px !important;
    margin-left: 4px !important;
    margin-right: 8px !important;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px !important;
    line-height: 18px !important;
    text-transform: uppercase;
    background-color: transparent !important;

    &.component {
      color: #1890ff;
      border-color: #1890ff;
    }

    &.method {
      color: #13c2c2;
      border-color: #13c2c2;
    }

    &.event {
      color: #faad14;
      border-color: #faad14;
    }
  }
}

.docs-menu {
  .co-menu__item > a {
    color: #314659;
  }

  .co-menu__item--selected > a,
  .co-menu__item > a:hover {
    color: #1890ff;
  }
}
