.co-button {
  display: inline-block;

  padding: @button-padding;

  cursor: @button-cursor;
  user-select: none;
  transition: border-color .2s linear, background-color .2s linear;
  vertical-align: @vertical-align-base;
  white-space: nowrap;

  border: 1px solid transparent;
  border-radius: @button-border-radius;

  font-weight: @button-font-weight;

  &:focus {
    outline: 0;
  }

  &:disabled {
    &,
    &:hover {
      cursor: @button-disabled-cursor;
      text-decoration: none;

      color: @button-disabled-color;
      border-color: @button-disabled-border-color;
      background-color: @button-disabled-bg;
    }
  }
}


// 按钮点击动画
.co-button--clicked {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border-radius: inherit;
    animation: button-click .4s;
  }
}

@keyframes button-click {
  100% {
    opacity: 0;
    box-shadow: @button-click-shadow;
  }
}


// 按钮类型
.co-button--default {
  .button-style(@font-color-base, @button-default-border-color, @button-default-bg, @button-default-hover-border-color, @button-default-hover-bg);
}

.co-button--primary {
  .button-style(@button-primary-color, @button-primary-border-color, @button-primary-bg, @button-primary-hover-border-color, @button-primary-hover-bg);
}

.co-button--ghost {
  .button-style(@button-ghost-color, @button-ghost-border-color, @button-ghost-bg, @button-ghost-border-color, @button-ghost-hover-bg);
}

.co-button--link {
  color: @primary;
  background-color: transparent;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.co-button--block {
  display: block;
  width: 100%;
}


// 按钮尺寸
.co-button--small {
  padding: @button-small-padding;
}

.co-button--large {
  padding: @button-large-padding;
}


// 按钮组样式
.co-button-group {
  display: inline-block;
  vertical-align: @vertical-align-base;

  & > .co-button {
    position: relative;
    float: left;
    border-radius: 0;

    & + .co-button {
      margin-left: -1px;
    }

    &:first-child {
      border-top-left-radius: @button-border-radius;
      border-bottom-left-radius: @button-border-radius;
    }

    &:last-child {
      border-top-right-radius: @button-border-radius;
      border-bottom-right-radius: @button-border-radius;
    }

    &:hover {
      z-index: 1;
    }
  }
}

.co-button-group--vertical > .co-button {
  display: block;
  float: none;

  & + .co-button {
    margin-top: -1px;
    margin-left: 0;
  }

  &:first-child {
    border-radius: 0;
    border-top-right-radius: @button-border-radius;
    border-top-left-radius: @button-border-radius;
  }

  &:last-child {
    border-radius: 0;
    border-bottom-right-radius: @button-border-radius;
    border-bottom-left-radius: @button-border-radius;
  }
}
