.co-button {
  display: inline-block;
  padding: 6px 28px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  font-size: @button-font-size;
  line-height: 1;
  font-weight: @button-font-weight;

  &:disabled {
    color: #888;
    background-color: #dcdcdc;
    border-color: #888;
  }
}

/**
 * 按钮类型
 * default, primary, ghost
 */
.co-button__default {

}
