.co-tag {
  display: inline-block;
  height: @tag-height;
  padding: @tag-padding;
  transition: .2s;
  vertical-align: @tag-vertical-align;
  color: @tag-color;
  border: @tag-border-width @tag-border-style @tag-border-color;
  border-radius: @tag-border-radius;
  background-color: @tag-bg;
  font-size: @tag-font-size;
  line-height: @tag-line-height;

  &:hover {
    background-color: @tag-hover-bg;
  }
}

.co-tag__close {
  margin-right: @tag-close-margin-right;
  margin-left: @tag-close-margin-left;
  cursor: @tag-close-cursor;
  transform: @tag-close-transform;
  color: @tag-close-color;
}


// type
.co-tag--primary {
  color: @tag-primary-color;
  background-color: @tag-primary-bg;

  &:hover {
    background-color: @tag-primary-hover-bg;
  }

  .co-tag__close {
    color: @tag-primary-color;
  }
}

.co-tag--success {
  border-color: @tag-success-border-color;
  background-color: @tag-success-bg;

  &:hover {
    border-color: @tag-success-hover-border-color;
    background-color: @tag-success-hover-bg;
  }

  .co-tag__close {
    color: @tag-success-close-color;
  }
}

.co-tag--warning {
  border-color: @tag-warning-border-color;
  background-color: @tag-warning-bg;

  &:hover {
    border-color: @tag-warning-hover-border-color;
    background-color: @tag-warning-hover-bg;
  }

  .co-tag__close {
    color: @tag-warning-close-color;
  }
}

.co-tag--info {
  border-color: @tag-info-border-color;
  background-color: @tag-info-bg;

  &:hover {
    border-color: @tag-info-hover-border-color;
    background-color: @tag-info-hover-bg;
  }

  .co-tag__close {
    color: @tag-info-close-color;
  }
}


// size
.co-tag--large {
  height: @tag-large-height;
  line-height: @tag-large-line-height;
}


// animation
.co-tag--leave {
  transition: .2s @ease-out;
  transform-origin: left center;
}
