.co-table {
  position: relative;
  border: @table-border-width solid @table-border-color;
  border-right: 0;
  border-bottom: 0;
  overflow: hidden;

  // 利用伪元素模拟表格右边和底部边框
  // 防止内部最后与最右边单元格出现双边框
  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    background-color: @table-border-color;
  }

  // table right border
  &::before {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
  }

  // table bottom border
  &::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }

  &__hidden-columns {
    position: absolute;
    z-index: -1;
    visibility: hidden;
  }

  &__header-wrap {
    overflow: hidden;
  }

  &__body-wrap {
    width: 100%;
    overflow: auto;
  }

  &__header,
  &__body {
    table-layout: fixed;
    border-spacing: 0;

    th, td {
      height: 30px;
      vertical-align: middle;
      border-bottom: @table-border-width solid @table-border-color;

      &.hidden > * {
        visibility: hidden;
      }
    }

    tr {
      background-color: #fff;
    }

    th {
      padding: 0;
      background-color: @table-th-background;
      font-size: @table-th-font-size;
      font-weight: @table-th-font-weight;
    }

    td {
      padding: 0;
      font-size: @table-td-font-size;
    }
  }

  &__cell {
    padding: @table-cell-padding;
    word-break: break-all;
  }

  &__title {
    display: inline-block;
  }

  &__icon {
    display: inline-block;
    margin-left: 4px;
    color: #5f7784;
    transition: color .15s;
    cursor: pointer;

    &:hover {
      color: #909fa8;
    }
  }

  &__sort {
    transform: scale(1.2);
    margin-left: 5px;
  }

  &__empty-body {
    position: relative;
    min-height: @table-empty-min-height;
    height: 100%;
    text-align: center;
  }

  &__empty-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__resize-proxy {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    border-left: @table-border-width solid @table-border-color;
    z-index: 10;
  }

  &__left-fixed,
  &__right-fixed {
    position: absolute;
    top: 0;
    overflow-x: hidden;
  }

  &__left-fixed {
    left: 0;
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, .15);
  }

  &__right-fixed {
    box-shadow: -1px 0 5px 0 rgba(0, 0, 0, .15);
  }

  &__fixed-header-wrap {
    position: absolute;
    top: 0;

    .co-table__left-fixed & {
      left: 0;
    }

    .co-table__right-fixed & {
      right: 0;
    }
  }

  &__fixed-body-wrap {
    position: absolute;
    overflow: hidden;

    .co-table__left-fixed & {
      left: 0;
    }

    .co-table__right-fixed & {
      right: 0;
    }
  }

  &__fixed-placeholder {
    position: absolute;
    top: 0;
    right: 0;
  }


  // modified
  &--border {
    th,
    td {
      border-right: @table-border-width solid @table-border-color;
    }
  }

  &--stripe {
    tbody tr:nth-of-type(even) {
      background-color: @table-bg-accent;
    }
  }

  &--hover {
    tbody tr {
      transition: background-color .2s;

      &.hover {
        background-color: @table-tr-hover-bg;
      }
    }
  }
}
