// 透明度渐变动画
.co-fade-enter-active {
  animation: fade-in .2s linear;
}

.co-fade-leave-active {
  animation: fade-out .2s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


// 缩放动画
.co-scale-enter-active {
  animation: scale-in .2s @ease-in;
}

.co-scale-leave-active {
  animation: scale-out .2s @ease-out;
}

@keyframes scale-in {
  from {
    transform: scale(.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(.8);
    opacity: 0;
  }
}
