// 透明度渐变动画
.co-fade-enter-active {
  animation: fade-in .2s linear;
}

.co-fade-leave-active {
  animation: fade-out .2s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
