// 设置 box-sizing
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  -webkit-font-smoothing: antialiased;
  color: @font-color-base;
}
