// 颜色
@primary: #0e90d2;
@success: #10a100;
@error: #f33b32;

@body-bg: #fff;


// Layout
@layout-columns: 24;
@screem-sm-min: 768px;
@screem-md-min: 992px;
@screem-lg-min: 1200px;


// 字体
@font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", Arial, sans-serif;

@font-size-base: 12px;
@font-weight-base: 400;
@font-color-base: #333;

@line-height-base: 1.5;


// Link
@link-color: @primary;
@link-text-decoration: none;
@link-hover-text-decoration: underline;


// Button
@button-font-weight: @font-weight-base;
@button-border-radius: 2px;
@button-padding: 3px 17px;
@button-cursor: pointer;

@button-disabled-bg: #fafafa;
@button-disabled-border-color: #dcdcdc;
@button-disabled-color: #bebebe;
@button-disabled-cursor: not-allowed;

@button-default-border-color: #dcdcdc;
@button-default-bg: #fafafa;
@button-default-hover-border-color: #bebebe;
@button-default-hover-bg: #fff;

@button-primary-border-color: @primary;
@button-primary-bg: @primary;
@button-primary-color: #fff;
@button-primary-hover-border-color: #0d81bd;
@button-primary-hover-bg: #0d81bd;

@button-ghost-border-color: @primary;
@button-ghost-bg: #fff;
@button-ghost-color: @primary;
@button-ghost-hover-bg: #ebf3f7;

@button-small-padding: 2px 17px;
@button-large-padding: 5px 17px;


// Input
@input-font-color: @font-color-base;
@input-placeholder-color: #bebebe;
@input-focus-shadow: 0 0 4px fade(@primary, 35%);

@input-line-height: 1.25;

@input-padding-x: 10px;
@input-padding-y: 4px;
@input-padding-x-sm: @input-padding-x;
@input-padding-y-sm: 3px;
@input-padding-x-lg: @input-padding-x;
@input-padding-y-lg: 6px;

@input-border-color: #dcdcdc;
@input-hover-border-color: darken(@input-border-color, 20%);

@input-disabled-background: #fafafa;
@input-disabled-cursor: not-allowed;
@input-disabled-color: #bebebe;

@input-icon-color: #3d3d3d;
@input-icon-hover-color: #1995d4;
@input-icon-size: 25px;
@input-icon-size-sm: 23px;
@input-icon-size-lg: 29px;


// Input number
@input-number-default-width: 80px;

@input-number-btn-border-color: #dcdcdc;
@input-number-btn-color: #bebebe;
@input-number-btn-width: 20px;
@input-number-btn-height: 12px;
@input-number-btn-height-sm: 11px;
@input-number-btn-height-lg: 14px;
@input-number-btn-disabled-color: #dcdcdc;
@input-number-btn-disabled-cursor: not-allowed;


// Checkbox
@checkbox-indicator-width: 14px;
@checkbox-indicator-height: @checkbox-indicator-width;

@checkbox-border-color: #bdbebf;
@checkbox-hover-border-color: #98999a;
@checkbox-border-radius: 2px;

@checkbox-disabled-background: #f2f3f4;


// Radio
@radio-indicator-width: 14px;
@radio-indicator-height: @radio-indicator-width;
@radio-indicator-inner-width: 6px;
@radio-indicator-inner-height: 6px;
@radio-indicator-padding: 3px;

@radio-border-color: #bdbebf;
@radio-border-radius: 50%;
@radio-border-hover-color: #98999a;

@radio-disabled-background: #f2f3f4;


// Select
@option-font-size: 1.2rem;
@option-padding-x: 10px;
@option-padding-y: 4px;
@option-background-hover: #f4f5f6;
@option-cursor: pointer;

@option-disabled-color: #999;
@option-disabled-cursor: not-allowed;

@option-active-background: @primary;


// Back top
@back-top-cursor: pointer;
@back-top-border-radius: 2px;
@back-top-background: #000;
@back-top-opacity: .6;
@back-top-hover-opacity: .8;


// Table
@table-background: #fff;
@table-background-accent: #f8f8f8;

@table-border-width: 1px;
@table-border-color: #dcdcdc;

@table-tr-hover-bg: #e5f2f5;

@table-th-font-size: 13px;
@table-th-font-weight: @font-weight-base;
@table-th-background: #dce1e7;
@table-th-padding: 5px 0;

@table-td-font-size: 12px;
@table-td-padding: 6px 0;

@table-cell-padding: 0 20px;


// Pagination
@pagination-bg: #fff;
@pagination-item-margin: 4px;
@pagination-margin-bottom: 10px;

@pagination-font-color: #555;
@pagination-font-active-color: @primary;
@pagination-size: 22px;
@pagination-line-height: 22px;

@pagination-border-width: 1px;
@pagination-border-color: #e6e6e6;
@pagination-hover-border-color: @primary;

@pagination-padding: 0 3px;
@pagination-cursor: pointer;

@pagination-disabled-cursor: not-allowed;
@pagination-disabled-color: #bebebe;
@pagination-disabled-border-color: #e6e6e6;


// Z-index
@affix-z-index: 10;
@select-dropdown-z-index: 900;
@back-top-z-index: 10;
