// 颜色
@primary: #0e90d2;
@error: #f35b32;


// Layout
@layout-columns: 24;
@screem-sm-min: 768px;
@screem-md-min: 992px;
@screem-lg-min: 1200px;


// 字体
@font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", Arial, sans-serif;

@font-size-base: 12px;
@font-weight-base: 400;
@font-color-base: #333;


// Button
@button-font-size: 12px;
@button-font-weight: 400;

@button-default-color: #333;


// Input
@input-font-color: @font-color-base;
@input-placeholder-color: #bebebe;

@input-padding-x: 10px;
@input-padding-y: 6px;
@input-padding-x-sm: @input-padding-x;
@input-padding-y-sm: 5px;
@input-padding-x-lg: @input-padding-x;
@input-padding-y-lg: 8px;

@input-border-color: #dcdcdc;
@input-hover-border-color: darken(@input-border-color, 20%);

@input-disabled-background: #fafafa;
@input-disabled-cursor: not-allowed;

@input-icon-color: #3d3d3d;
@input-icon-hover-color: #1995d4;

@textarea-line-height: 1.36;
