.co-rate {
  display: inline-block;
  vertical-align: @vertical-align-base;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.co-rate__item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all .2s ease-in-out;

  &:hover .co-icon::before {
    transform: scale(1.1);
  }

  & + & {
    margin-left: 6px;
  }

  & .co-icon {
    line-height: inherit;

    &::before {
      transition: all .2s ease-in-out;
    }
  }
}

.co-rate__icon-half {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
}


// modified
.co-rate--disabled {
  .co-rate__item {
    cursor: default;

    &:hover .co-icon::before {
      transform: scale(1);
    }
  }
}
