.co-select {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;
}

.co-select__clear {
  &:extend(.co-input__icon);
  z-index: 1;

  &:hover + .co-input .co-input__input {
    border-color: @input-hover-border-color;
  }
}

.co-select__input {
  & input {
    cursor: pointer;
  }

  & .co-input__icon {
    transition: transform .2s linear;

    &:hover {
      color: @input-icon-color;
    }
  }
}

.co-select__dropdown {
  &:extend(.co-dropdown__wrapper);
  max-height: 200px;
  overflow-y: auto;
}

.co-select__list {
  &:extend(.co-dropdown__menu);
  min-width: none;
}


// 尺寸
.co-select--small {
  .co-select__wrap {
    padding-top: @input-padding-y-sm;
    padding-bottom: @input-padding-y-sm;
  }

  .co-select__arrow,
  .co-select__clear {
    width: @input-icon-size-sm;
    height: @input-icon-size-sm;
    font-size: 18px;
    line-height: @input-icon-size-sm;
  }

  .co-select__clear {
    font-size: 12px;
  }
}

.co-select--large {
  .co-select__wrap {
    padding-top: @input-padding-y-lg;
    padding-bottom: @input-padding-y-lg;
  }

  .co-select__arrow,
  .co-select__clear {
    width: @input-icon-size-lg;
    height: @input-icon-size-lg;
    font-size: 22px;
    line-height: @input-icon-size-lg;
  }

  .co-select__clear {
    font-size: 16px;
  }
}


// 获取焦点
.co-select--open .co-icon-arrow-down-b {
  transform: rotate(180deg);
}
