.co-select {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: top;
}

.co-select__clear {
  &:extend(.co-input__icon);
  z-index: 1;

  &:hover + .co-input .co-input__input {
    border-color: @input-hover-border-color;
  }
}

.co-select__input {
  & input {
    cursor: pointer;
  }

  & .co-input__icon {
    transition: transform .2s linear;

    &:hover {
      color: @input-icon-color;
    }
  }
}

.co-select__list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.co-select__dropdown {
  width: auto;
  max-height: 200px;
  background-color: #fff;
  margin: 4px 0;
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 6px rgba(0, 0, 0, .25);
  z-index: @select-dropdown-z-index;
  overflow-y: auto;
}


// 尺寸
.co-select--small {
  .co-select__wrap {
    padding-top: @input-padding-y-sm;
    padding-bottom: @input-padding-y-sm;
  }

  .co-select__arrow,
  .co-select__clear {
    width: @input-icon-size-sm;
    height: @input-icon-size-sm;
    font-size: 18px;
    line-height: @input-icon-size-sm;
  }

  .co-select__clear {
    font-size: 12px;
  }
}

.co-select--large {
  .co-select__wrap {
    padding-top: @input-padding-y-lg;
    padding-bottom: @input-padding-y-lg;
  }

  .co-select__arrow,
  .co-select__clear {
    width: @input-icon-size-lg;
    height: @input-icon-size-lg;
    font-size: 22px;
    line-height: @input-icon-size-lg;
  }

  .co-select__clear {
    font-size: 16px;
  }
}


// 获取焦点
.co-select--open .co-icon-arrow-down-b {
  transform: rotate(180deg);
}


// 动效
.co-select--slide-enter-active {
  animation: co-select-in .2s ease-in-out;
}

.co-select--slide-leave-active {
  animation: co-select-out .2s ease-in-out;
}

@keyframes co-select-in {
  from {
    opacity: 0;
    transform: scaleY(.8);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes co-select-out {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(.8);
  }
}
