.co-card {
  transition: @card-transition;
  border-width: @card-border-width;
  border-style: @card-border-style;
  border-color: @card-border-color-default;
  background-color: @card-bg;

  &:hover {
    box-shadow: @card-hover-box-shadow;
  }
}

.co-card__title {
  position: relative;
  padding: @card-padding-y @card-padding-x;
  color: @card-title-color;
  border-bottom: @card-title-border;
  font-size: @card-title-font-size;
}

.co-card__extra {
  position: absolute;
  top: 50%;
  right: @card-extra-right;
  transform: translateY(-50%);
}

.co-card__body {
  padding: @card-padding-y @card-padding-x;
}


// Modified
.co-card--border {
  border-color: @card-border-color;
}

.co-card--dis-hover:hover {
  box-shadow: none;
}

.co-card--shadow {
  &,
  &:hover {
    box-shadow: @card-shadow;
  }
}
