@import "variables.less";

@font-face {
  font-family: 'icon';
  src:
    url('@{icomoon-font-path}/icon.ttf?m915sk') format('truetype'),
    url('@{icomoon-font-path}/icon.woff?m915sk') format('woff'),
    url('@{icomoon-font-path}/icon.svg?m915sk#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check {
  &:before {
    content: @icon-check;
  }
}
.icon-close {
  &:before {
    content: @icon-close;
  }
}
.icon-remove {
  &:before {
    content: @icon-remove;
  }
}
.icon-times {
  &:before {
    content: @icon-times;
  }
}
.icon-times-circle {
  &:before {
    content: @icon-times-circle;
  }
}
.icon-check-circle {
  &:before {
    content: @icon-check-circle;
  }
}
.icon-info-circle {
  &:before {
    content: @icon-info-circle;
  }
}
.icon-exclamation-circle {
  &:before {
    content: @icon-exclamation-circle;
  }
}
.icon-chevron-up {
  &:before {
    content: @icon-chevron-up;
  }
}
.icon-caret-down {
  &:before {
    content: @icon-caret-down;
  }
}
.icon-caret-up {
  &:before {
    content: @icon-caret-up;
  }
}
.icon-angle-double-left {
  &:before {
    content: @icon-angle-double-left;
  }
}
.icon-angle-double-right {
  &:before {
    content: @icon-angle-double-right;
  }
}
.icon-angle-left {
  &:before {
    content: @icon-angle-left;
  }
}
.icon-angle-right {
  &:before {
    content: @icon-angle-right;
  }
}
.icon-ellipsis-h {
  &:before {
    content: @icon-ellipsis-h;
  }
}
.icon-minus-square-o {
  &:before {
    content: @icon-minus-square-o;
  }
}
.icon-plus-square-o {
  &:before {
    content: @icon-plus-square-o;
  }
}
