@icomoon-font-path: "../../fonts";

@icon-chevron-up: "\f077";
@icon-caret-down: "\f0d7";
@icon-caret-up: "\f0d8";
@icon-angle-double-left: "\f100";
@icon-angle-double-right: "\f101";
@icon-angle-left: "\f104";
@icon-angle-right: "\f105";
@icon-ellipsis-h: "\f141";
@icon-minus-square-o: "\f147";
@icon-plus-square-o: "\f196";
