.co-table {
  position: relative;

  border: @table-border-width solid @table-border-color;
  border-right: 0;
  border-bottom: 0;
  background-color: @table-background;
  overflow: hidden;

  table {
    table-layout: fixed;
    border-spacing: 0;
  }

  th,
  td {
    text-align: left;
    vertical-align: top;

    border-bottom: @table-border-width solid @table-border-color;
  }

  th {
    padding: @table-th-padding;

    vertical-align: middle;

    background-color: @table-th-background;

    font-size: @table-th-font-size;
    font-weight: @table-th-font-weight;
  }

  td {
    padding: @table-td-padding;

    font-size: @table-td-font-size;
  }

  &::before,
  &::after {
    position: absolute;
    z-index: 1;

    content: "";

    background-color: @table-border-color;
  }

  &::before {
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;
  }

  &::after {
    top: 0;
    right: 0;

    width: 1px;
    height: 100%;
  }
}

.co-table__hidden-columns {
  position: absolute;
  z-index: -1;

  visibility: hidden;
}

.co-table__header {
  width: 100%;
  overflow: hidden;
}

.co-table__body {
  width: 100%;
  overflow: auto;
}

.co-table__cell {
  padding: @table-cell-padding;
  text-overflow: ellipsis;
  word-break: break-all;

  .co-table__header & {
    display: inline-block;
  }
}

// 表格为空
.co-table__empty {
  position: relative;

  min-height: @table-empty-min-height;

  text-align: center;
}

.co-table__empty-text {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

// 排序
.co-table__sortable {
  position: relative;

  display: inline-block;

  width: @table-caret-border-width * 2;
  height: @table-sortable-height;
  margin-left: 2px;

  cursor: pointer;
  vertical-align: top;
}

.co-table__caret {
  position: absolute;

  display: inline-block;

  width: 0;
  height: 0;

  border: 0;
  border-right: @table-caret-border-width solid transparent;
  border-left: @table-caret-border-width solid transparent;

  &--asc {
    top: @table-caret-position;

    border-bottom: @table-caret-border-width solid @table-th-icon-color;
  }

  &--desc {
    bottom: @table-caret-position;

    border-top: @table-caret-border-width solid @table-th-icon-color;
  }
}


// 列边框拖动代理样式
.co-table__column-resize-proxy {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  border-left: @table-border-width solid @table-border-color;
  z-index: 10;
}


// 显示设置
.co-table__display {
  display: inline-block;
  margin-left: 2px;

  &-icon {
    font-size: 18px;
    color: @table-th-icon-color;
    vertical-align: top;
    cursor: pointer;
  }
}

// 显示设置里的标题样式
.co-table__head {
  position: relative;
  margin: 0 0 15px;
  font-size: 13px;
  font-weight: 500;

  span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    margin-left: 30px;
    background-color: #fff;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
  }
}


/*
 * modified
 */

// 条纹效果
.co-table--stripe {
  tbody tr:nth-of-type(even) {
    background-color: @table-background-accent;
  }
}


// 边框效果
.co-table--border {
  th,
  td {
    border-right: @table-border-width solid @table-border-color;
    border-bottom: @table-border-width solid @table-border-color;
  }
}


// hover 效果
.co-table--hover {
  tbody tr {
    transition: background-color .2s linear;

    &:hover {
      background-color: @table-tr-hover-bg;
    }
  }
}

// 排序
.co-table__sortable--asc {
  .co-table__caret--asc {
    border-bottom-color: @table-th-icon-active-color;
  }
}

.co-table__sortable--desc {
  .co-table__caret--desc {
    border-top-color: @table-th-icon-active-color;
  }
}

.co-table__cell--tooltip {
  white-space: nowrap;
  overflow: hidden;
}
