.co-tooltip {
  position: relative;
  display: inline-block;
}

.co-tooltip__popper {
  font-size: @tooltip-font-size;
  z-index: @tooltip-z-index;

  &[x-placement^="top"] {
    padding: @tooltip-padding-s 0 @tooltip-padding-l;
  }

  &[x-placement^="right"] {
    padding: 0 @tooltip-padding-s 0 @tooltip-padding-l;
  }

  &[x-placement^="bottom"] {
    padding: @tooltip-padding-l 0 @tooltip-padding-s;
  }

  &[x-placement^="left"] {
    padding: 0 @tooltip-padding-l 0 @tooltip-padding-s;
  }
}

.co-tooltip__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;

  // top
  .co-tooltip__popper[x-placement^="top"] & {
    bottom: 3px;
    border-width: @tooltip-arrow-border-width @tooltip-arrow-border-width 0;
    border-top-color: @tooltip-bg;
  }

  .co-tooltip__popper[x-placement="top-start"] &,
  .co-tooltip__popper[x-placement="bottom-start"] & {
    left: 16px;
  }

  .co-tooltip__popper[x-placement="top"] &,
  .co-tooltip__popper[x-placement="bottom"] & {
    left: 50%;
    margin-left: -@tooltip-arrow-border-width;
  }

  .co-tooltip__popper[x-placement="top-end"] &,
  .co-tooltip__popper[x-placement="bottom-end"] & {
    right: 16px;
  }

  // right
  .co-tooltip__popper[x-placement^="right"] & {
    left: 3px;
    border-width: @tooltip-arrow-border-width @tooltip-arrow-border-width @tooltip-arrow-border-width 0;
    border-right-color: @tooltip-bg;
  }

  .co-tooltip__popper[x-placement="right-start"] &,
  .co-tooltip__popper[x-placement="left-start"] & {
    top: 8px;
  }

  .co-tooltip__popper[x-placement="right"] &,
  .co-tooltip__popper[x-placement="left"] & {
    top: 50%;
    margin-top: -@tooltip-arrow-border-width;
  }

  .co-tooltip__popper[x-placement="right-end"] &,
  .co-tooltip__popper[x-placement="left-end"] & {
    bottom: 8px;
  }

  // bottom
  .co-tooltip__popper[x-placement^="bottom"] & {
    top: 3px;
    border-width: 0 @tooltip-arrow-border-width @tooltip-arrow-border-width;
    border-bottom-color: @tooltip-bg;
  }

  // left
  .co-tooltip__popper[x-placement^="left"] & {
    right: 3px;
    border-width: @tooltip-arrow-border-width 0 @tooltip-arrow-border-width @tooltip-arrow-border-width;
    border-left-color: @tooltip-bg;
  }
}

.co-tooltip__content {
  padding: @tooltip-padding;
  white-space: nowrap;
  color: @tooltip-font-color;
  border-radius: @tooltip-border-radius;
  background-color: @tooltip-bg;
  box-shadow: @tooltip-box-shadow;
}
