.co-badge {
  position: relative;
  display: inline-block;
  vertical-align: @vertical-align-base;
}

.co-badge__count,
.co-badge__dot {
  position: absolute;
  z-index: @badge-z-index;
  right: 0;
  transform: translateX(50%);
  transform-origin: 100% center;
  text-align: center;
  white-space: nowrap;
  color: @badge-color;
  border-radius: @badge-count-border-radius;
  background-color: @badge-count-bg;
  box-shadow: @badge-box-shadow;
  font-size: @badge-font-size;
  // 单独设置 badge 的字体为 tahoma
  // 但中文显示不佳
  // font-family: tahoma;
}

.co-badge__count {
  top: @badge-count-top;
  min-width: @badge-count-min-width;
  height: @badge-count-height;
  padding: @badge-count-padding-y @badge-count-padding-x;
  line-height: @badge-count-line-height;
}

.co-badge__dot {
  top: @badge-dot-top;
  width: @badge-dot-size;
  height: @badge-dot-size;
}


.co-badge__count--alone {
  position: static;
  top: auto;
  display: block;
  transform: none;
  transform-origin: center;
}
